<app-currency-form [form]="historicalExchangeRateForm" (formSubmit)="getHistoricalData($event)"></app-currency-form>


<div class="container" *ngIf="historicalExchangeRates$ | async as historicalExchangeRates; else loading">
    <p>Chosen Date: {{ chosenDate | date:'mediumDate' }}</p>

    <div>
        <app-currency-table class="currency-table-container" [exchangeRates]="historicalExchangeRates"
            class="currency-table"></app-currency-table>
    </div>
</div>

<ng-template #loading>
    <div class="loading-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>