.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  color: red;
  height: 50vh;
  line-height: 1.5;
}

.error-container p {
  font-size: 2.5em;
}
